#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Rectangle_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 12px 12px 12px 12px;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  width: 980px;
  height: 321px;
  -ms-transform: rotate(0.0deg);
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Label_1 {
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #84A82C;
  -ms-transform: rotate(0.0deg);
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #747474;
  -ms-transform: rotate(0.0deg);
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #747474;
  -ms-transform: rotate(0.0deg);
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Rich_text_1 {
  -ms-transform: rotate(0.0deg);
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Rich_text_2 {
  -ms-transform: rotate(0.0deg);
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Label_4 {
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #84A82C;
  -ms-transform: rotate(0.0deg);
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Line_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #747474;
  -ms-transform: rotate(0.0deg);
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Line_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #747474;
  -ms-transform: rotate(0.0deg);
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Label_5 {
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #84A82C;
  -ms-transform: rotate(0.0deg);
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #747474;
  -ms-transform: rotate(0.0deg);
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #747474;
  -ms-transform: rotate(0.0deg);
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Rich_text_3 {
  -ms-transform: rotate(0.0deg);
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Label_8 {
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #84A82C;
  -ms-transform: rotate(0.0deg);
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Line_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #747474;
  -ms-transform: rotate(0.0deg);
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Line_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #747474;
  -ms-transform: rotate(0.0deg);
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Image_10 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=28);
  filter: alpha(opacity=28);
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Rich_text_4 {
  -ms-transform: rotate(0.0deg);
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Rich_text_5 {
  -ms-transform: rotate(0.0deg);
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}