#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Rectangle_1 {
  position: absolute;
  top: 109px;
  left: 152px;
  width: 980px;
  height: 321px;
  background-color: transparent;
  background-repeat: repeat-x;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/5a6c2f35-5e7f-4eee-aad3-916a216de11e.PNG');
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 12px 12px 12px 12px;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Arial;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Rectangle_1 span#rtr-m-1ea7ee48-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Label_1 {
  position: absolute;
  top: 123px;
  left: 177px;
  padding-left: 14px;
  width: 139px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #84A82C;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 700;
  line-height: 12pt;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Label_1 .valign {
  vertical-align: middle;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Label_2 {
  position: absolute;
  top: 124px;
  left: 336px;
  width: 65px;
  height: 21px;
  background-color: transparent;
  background-repeat: repeat-x;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/d3b6d3c3-a55d-4b05-8e94-37ad0e060b12.png');
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Label_2 .valign {
  vertical-align: middle;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Line_1 {
  position: absolute;
  top: 158px;
  left: 174px;
  width: 227px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #747474;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Rich_text_1 {
  position: absolute;
  top: 182px;
  left: 175px;
  width: 226px;
  height: 152px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 9pt;
  font-family: Arial;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Rich_text_1 .valign {
  vertical-align: top;
  text-align: left;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Rich_text_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Rich_text_1 span#rtr-m-1ea7ee48-Rich_text_1_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Rich_text_2 {
  position: absolute;
  top: 182px;
  left: 418px;
  width: 221px;
  height: 152px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 9pt;
  font-family: Arial;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Rich_text_2 .valign {
  vertical-align: top;
  text-align: left;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Rich_text_2 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Rich_text_2 span#rtr-m-1ea7ee48-Rich_text_2_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Label_3 {
  position: absolute;
  top: 124px;
  left: 563px;
  width: 76px;
  height: 21px;
  background-color: transparent;
  background-repeat: repeat-x;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/d3b6d3c3-a55d-4b05-8e94-37ad0e060b12.png');
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Label_3 .valign {
  vertical-align: middle;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Label_4 {
  position: absolute;
  top: 123px;
  left: 415px;
  padding-left: 14px;
  width: 139px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #84A82C;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 700;
  line-height: 12pt;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Label_4 .valign {
  vertical-align: middle;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Line_2 {
  position: absolute;
  top: 158px;
  left: 412px;
  width: 227px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #747474;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Label_5 {
  position: absolute;
  top: 123px;
  left: 657px;
  padding-left: 14px;
  width: 139px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #84A82C;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 700;
  line-height: 12pt;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Label_5 .valign {
  vertical-align: middle;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Label_6 {
  position: absolute;
  top: 124px;
  left: 805px;
  width: 76px;
  height: 21px;
  background-color: transparent;
  background-repeat: repeat-x;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/d3b6d3c3-a55d-4b05-8e94-37ad0e060b12.png');
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Label_6 .valign {
  vertical-align: middle;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Line_3 {
  position: absolute;
  top: 158px;
  left: 654px;
  width: 227px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #747474;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Rich_text_3 {
  position: absolute;
  top: 182px;
  left: 657px;
  width: 221px;
  height: 152px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 9pt;
  font-family: Arial;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Rich_text_3 .valign {
  vertical-align: top;
  text-align: left;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Rich_text_3 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Rich_text_3 span#rtr-m-1ea7ee48-Rich_text_3_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Rich_text_3 span#rtr-m-1ea7ee48-Rich_text_3_1 {
  color: #84A82C;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Rich_text_3 span#rtr-m-1ea7ee48-Rich_text_3_2 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Rich_text_3 span#rtr-m-1ea7ee48-Rich_text_3_3 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Rich_text_3 span#rtr-m-1ea7ee48-Rich_text_3_4 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Rich_text_3 span#rtr-m-1ea7ee48-Rich_text_3_5 {
  color: #84A82C;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Rich_text_3 span#rtr-m-1ea7ee48-Rich_text_3_6 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Rich_text_3 span#rtr-m-1ea7ee48-Rich_text_3_7 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Rich_text_3 span#rtr-m-1ea7ee48-Rich_text_3_8 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Rich_text_3 span#rtr-m-1ea7ee48-Rich_text_3_9 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Rich_text_3 span#rtr-m-1ea7ee48-Rich_text_3_10 {
  color: #84A82C;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Label_7 {
  position: absolute;
  top: 124px;
  left: 1045px;
  width: 76px;
  height: 21px;
  background-color: transparent;
  background-repeat: repeat-x;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/d3b6d3c3-a55d-4b05-8e94-37ad0e060b12.png');
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Label_7 .valign {
  vertical-align: middle;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Label_8 {
  position: absolute;
  top: 123px;
  left: 897px;
  padding-left: 14px;
  width: 139px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #84A82C;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 700;
  line-height: 12pt;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Label_8 .valign {
  vertical-align: middle;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Line_4 {
  position: absolute;
  top: 158px;
  left: 894px;
  width: 227px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #747474;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Image_2 {
  position: absolute;
  top: 181px;
  left: 897px;
  width: 46px;
  height: 46px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Image_3 {
  position: absolute;
  top: 181px;
  left: 955px;
  width: 46px;
  height: 46px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Image_4 {
  position: absolute;
  top: 181px;
  left: 1013px;
  width: 46px;
  height: 46px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Image_5 {
  position: absolute;
  top: 181px;
  left: 1071px;
  width: 46px;
  height: 46px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Image_6 {
  position: absolute;
  top: 239px;
  left: 897px;
  width: 46px;
  height: 46px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Image_7 {
  position: absolute;
  top: 239px;
  left: 955px;
  width: 46px;
  height: 46px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Image_8 {
  position: absolute;
  top: 239px;
  left: 1013px;
  width: 46px;
  height: 46px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Image_9 {
  position: absolute;
  top: 239px;
  left: 1071px;
  width: 46px;
  height: 46px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Image_10 {
  position: absolute;
  top: 381px;
  left: 182px;
  width: 115px;
  height: 30px;
  opacity: 0.28;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Rich_text_4 {
  position: absolute;
  top: 381px;
  left: 320px;
  width: 307px;
  height: 51px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 9pt;
  font-family: Arial;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Rich_text_4 .valign {
  vertical-align: top;
  text-align: left;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Rich_text_4 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Rich_text_4 span#rtr-m-1ea7ee48-Rich_text_4_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Rich_text_5 {
  position: absolute;
  top: 382px;
  left: 878px;
  width: 243px;
  height: 51px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 9pt;
  font-family: Arial;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Rich_text_5 .valign {
  vertical-align: top;
  text-align: left;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Rich_text_5 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Rich_text_5 span#rtr-m-1ea7ee48-Rich_text_5_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d #m-1ea7ee48-Image_map_1 {
  position: absolute;
  top: 400px;
  left: 989px;
  width: 130px;
  height: 19px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
}
#m-1ea7ee48-8e53-41e1-bc6f-5e7c27c40a0d.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}