#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb {
  background-color: transparent;
  background-image: none;
  min-width: 992px;
  min-height: 2126px;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 992px;
  min-width: 992px;
  min-height: 2126px;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_1 {
  position: absolute;
  top: 106px;
  left: 28px;
  padding-left: 12px;
  width: 209px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #84A82C;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 700;
  line-height: 14pt;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_1 .valign {
  vertical-align: middle;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_2 {
  position: absolute;
  top: 105px;
  left: 274px;
  width: 422px;
  height: 23px;
  background-color: transparent;
  background-repeat: repeat-x;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/3b0a929c-76b2-4533-9fa2-58793ede8a85.PNG');
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_2 .valign {
  vertical-align: middle;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Image_2 {
  position: absolute;
  top: 145px;
  left: 24px;
  width: 671px;
  height: 261px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Callout_1 .content {
  left: 5px;
  top: 0px;
  width: 50px;
  height: 43px;
  position: absolute;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Callout_1 {
  position: absolute;
  top: 451px;
  left: 119px;
  width: 56px;
  height: 43px;
  background-color: #D3D3D3;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 10pt;
  font-family: Arial;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #shapewrapper-s-Callout_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #shapewrapper-s-Callout_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 700;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #shapewrapper-s-Callout_1 span#rtr-s-Callout_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Group_1 {
  position: absolute;
  top: 452px;
  left: 30px;
  width: 76px;
  height: 41px;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Button_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 14px;
  width: 60px;
  height: 37px;
  background-color: transparent;
  background-repeat: repeat-x;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/044d60e1-ca06-4f1e-b5e3-314a97a1fb2c.png');
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 700;
  line-height: 10pt;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Button_1 .valign {
  vertical-align: middle;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Image_3 {
  position: absolute;
  top: 10px;
  left: 7px;
  width: 21px;
  height: 21px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Image_31 {
  position: absolute;
  top: 414px;
  left: 414px;
  width: 14px;
  height: 14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_31 {
  position: absolute;
  top: 414px;
  left: 443px;
  width: 37px;
  height: 14px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #84A82C;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #84A82C;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: 700;
  line-height: 8pt;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_31 .valign {
  vertical-align: middle;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_32 {
  position: absolute;
  top: 414px;
  left: 480px;
  width: 42px;
  height: 14px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #84A82C;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #84A82C;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: 700;
  line-height: 8pt;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_32 .valign {
  vertical-align: middle;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_33 {
  position: absolute;
  top: 414px;
  left: 524px;
  width: 49px;
  height: 14px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #84A82C;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: 700;
  line-height: 8pt;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_33 .valign {
  vertical-align: middle;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Image_32 {
  position: absolute;
  top: 410px;
  left: 290px;
  width: 19px;
  height: 19px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_34 {
  position: absolute;
  top: 413px;
  left: 319px;
  width: 79px;
  height: 15px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #84A82C;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 700;
  line-height: 9pt;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_34 .valign {
  vertical-align: middle;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Image_4 {
  position: absolute;
  top: 411px;
  left: 170px;
  width: 19px;
  height: 21px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_35 {
  position: absolute;
  top: 413px;
  left: 196px;
  width: 79px;
  height: 15px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #84A82C;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 700;
  line-height: 9pt;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_35 .valign {
  vertical-align: middle;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Image_5 {
  position: absolute;
  top: 409px;
  left: 30px;
  width: 15px;
  height: 29px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_36 {
  position: absolute;
  top: 414px;
  left: 57px;
  width: 95px;
  height: 15px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #84A82C;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 700;
  line-height: 9pt;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_36 .valign {
  vertical-align: middle;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Rich_text_1 {
  position: absolute;
  top: 447px;
  left: 193px;
  width: 506px;
  height: 84px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 11pt;
  font-family: Arial;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Rich_text_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Rich_text_1 span {
  color: #8CAF2F;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Rich_text_1 span#rtr-s-Rich_text_1_0 {
  color: #8CAF2F;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Rich_text_7 {
  position: absolute;
  top: 535px;
  left: 193px;
  width: 476px;
  height: 71px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 9pt;
  font-family: Arial;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Rich_text_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Rich_text_7 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Rich_text_7 span#rtr-s-Rich_text_7_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Image_6 {
  position: absolute;
  top: 655px;
  left: 630px;
  width: 33px;
  height: 34px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Image_7 {
  position: absolute;
  top: 655px;
  left: 664px;
  width: 33px;
  height: 34px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_3 {
  position: absolute;
  top: 739px;
  left: 164px;
  width: 532px;
  height: 23px;
  background-color: transparent;
  background-repeat: repeat-x;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/3b0a929c-76b2-4533-9fa2-58793ede8a85.PNG');
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_3 .valign {
  vertical-align: middle;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_4 {
  position: absolute;
  top: 740px;
  left: 28px;
  padding-left: 12px;
  width: 107px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #84A82C;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 700;
  line-height: 14pt;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_4 .valign {
  vertical-align: middle;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Image_8 {
  position: absolute;
  top: 800px;
  left: 26px;
  width: 58px;
  height: 59px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_5 {
  position: absolute;
  top: 798px;
  left: 97px;
  width: 111px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 700;
  line-height: 14pt;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_5 .valign {
  vertical-align: middle;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_37 {
  position: absolute;
  top: 806px;
  left: 213px;
  width: 134px;
  height: 15px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #84A82C;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: 700;
  line-height: 8pt;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_37 .valign {
  vertical-align: middle;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_38 {
  position: absolute;
  top: 805px;
  left: 663px;
  width: 36px;
  height: 15px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #84A82C;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: 700;
  line-height: 8pt;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_38 .valign {
  vertical-align: middle;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Rich_text_8 {
  position: absolute;
  top: 839px;
  left: 97px;
  width: 602px;
  height: 67px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 9pt;
  font-family: Arial;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Rich_text_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Rich_text_8 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Rich_text_8 span#rtr-s-Rich_text_8_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Image_9 {
  position: absolute;
  top: 933px;
  left: 26px;
  width: 58px;
  height: 59px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_6 {
  position: absolute;
  top: 931px;
  left: 97px;
  width: 111px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 700;
  line-height: 14pt;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_6 .valign {
  vertical-align: middle;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_39 {
  position: absolute;
  top: 939px;
  left: 213px;
  width: 134px;
  height: 15px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #84A82C;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: 700;
  line-height: 8pt;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_39 .valign {
  vertical-align: middle;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_40 {
  position: absolute;
  top: 938px;
  left: 663px;
  width: 36px;
  height: 15px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #84A82C;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: 700;
  line-height: 8pt;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_40 .valign {
  vertical-align: middle;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Rich_text_9 {
  position: absolute;
  top: 972px;
  left: 97px;
  width: 602px;
  height: 67px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 9pt;
  font-family: Arial;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Rich_text_9 .valign {
  vertical-align: top;
  text-align: left;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Rich_text_9 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Rich_text_9 span#rtr-s-Rich_text_9_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Image_10 {
  position: absolute;
  top: 1062px;
  left: 26px;
  width: 58px;
  height: 59px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_7 {
  position: absolute;
  top: 1060px;
  left: 97px;
  width: 111px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 700;
  line-height: 14pt;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_7 .valign {
  vertical-align: middle;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_41 {
  position: absolute;
  top: 1068px;
  left: 213px;
  width: 134px;
  height: 15px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #84A82C;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: 700;
  line-height: 8pt;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_41 .valign {
  vertical-align: middle;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_42 {
  position: absolute;
  top: 1067px;
  left: 663px;
  width: 36px;
  height: 15px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #84A82C;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: 700;
  line-height: 8pt;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_42 .valign {
  vertical-align: middle;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Rich_text_10 {
  position: absolute;
  top: 1101px;
  left: 97px;
  width: 602px;
  height: 67px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 9pt;
  font-family: Arial;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Rich_text_10 .valign {
  vertical-align: top;
  text-align: left;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Rich_text_10 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Rich_text_10 span#rtr-s-Rich_text_10_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_8 {
  position: absolute;
  top: 1205px;
  left: 24px;
  width: 187px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 700;
  line-height: 14pt;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_8 .valign {
  vertical-align: middle;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Rich_text_11 {
  position: absolute;
  top: 1249px;
  left: 24px;
  width: 592px;
  height: 44px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 9pt;
  font-family: Arial;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Rich_text_11 .valign {
  vertical-align: top;
  text-align: left;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Rich_text_11 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Rich_text_11 span#rtr-s-Rich_text_11_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Input_1 {
  position: absolute;
  top: 1314px;
  left: 29px;
  padding-left: 8px;
  width: 281px;
  height: 30px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #E5E5E5;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #E5E5E5;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F8F8F8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #E5E5E5;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 9pt;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Input_1 input {
  color: #C0C0C0;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Input_2 {
  position: absolute;
  top: 1361px;
  left: 29px;
  padding-left: 8px;
  width: 281px;
  height: 30px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #E5E5E5;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #E5E5E5;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F8F8F8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #E5E5E5;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Input_2 .valign {
  vertical-align: middle;
  line-height: 9pt;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Input_2 input {
  color: #C0C0C0;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Input_3 {
  position: absolute;
  top: 1408px;
  left: 29px;
  padding-left: 8px;
  width: 281px;
  height: 30px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #E5E5E5;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #E5E5E5;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F8F8F8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #E5E5E5;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Input_3 .valign {
  vertical-align: middle;
  line-height: 9pt;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Input_3 input {
  color: #C0C0C0;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Input_4 {
  position: absolute;
  top: 1456px;
  left: 29px;
  padding-top: 5px;
  padding-left: 8px;
  width: 536px;
  height: 207px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #E5E5E5;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #E5E5E5;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F8F8F8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #E5E5E5;
  box-shadow: none;
  cursor: text;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Input_4 textarea {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Button_2 {
  position: absolute;
  top: 1683px;
  left: 29px;
  width: 104px;
  height: 32px;
  background-color: transparent;
  background-repeat: repeat-x;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/044d60e1-ca06-4f1e-b5e3-314a97a1fb2c.png');
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 700;
  line-height: 10pt;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Button_2 .valign {
  vertical-align: middle;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Master_item_1 div.offset {
  position: relative;
  top: -109px;
  left: -152px;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Master_item_1 {
  position: absolute;
  top: 1793px;
  left: 0px;
  width: 992px;
  height: 333px;
  overflow: visible;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}