#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_1 {
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #84A82C;
  -ms-transform: rotate(0.0deg);
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Callout_1 {
  -ms-transform: rotate(0.0deg);
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Button_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 14px;
  width: 60px;
  height: 37px;
  -ms-transform: rotate(0.0deg);
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Image_31 {
  -ms-transform: rotate(0.0deg);
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_31 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #84A82C;
  -ms-transform: rotate(0.0deg);
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_32 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #84A82C;
  -ms-transform: rotate(0.0deg);
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_33 {
  -ms-transform: rotate(0.0deg);
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Image_32 {
  -ms-transform: rotate(0.0deg);
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_34 {
  -ms-transform: rotate(0.0deg);
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_35 {
  -ms-transform: rotate(0.0deg);
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_36 {
  -ms-transform: rotate(0.0deg);
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Rich_text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Rich_text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_4 {
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #84A82C;
  -ms-transform: rotate(0.0deg);
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_37 {
  -ms-transform: rotate(0.0deg);
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_38 {
  -ms-transform: rotate(0.0deg);
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Rich_text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_39 {
  -ms-transform: rotate(0.0deg);
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_40 {
  -ms-transform: rotate(0.0deg);
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Rich_text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_41 {
  -ms-transform: rotate(0.0deg);
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_42 {
  -ms-transform: rotate(0.0deg);
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Rich_text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_8 {
  -ms-transform: rotate(0.0deg);
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Rich_text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Button_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 104px;
  height: 32px;
  -ms-transform: rotate(0.0deg);
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}