#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Label_1 {
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #84A82C;
  -ms-transform: rotate(0.0deg);
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Rich_text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Panel_1 > .valign {
  vertical-align: top;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Label_29 {
  -ms-transform: rotate(0.0deg);
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Label_30 {
  -ms-transform: rotate(0.0deg);
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Rectangle_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #464646;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #464646;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #464646;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #464646;
  -ms-transform: rotate(0.0deg);
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Rich_text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Label_31 {
  -ms-transform: rotate(0.0deg);
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Label_32 {
  -ms-transform: rotate(0.0deg);
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Rectangle_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #464646;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #464646;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #464646;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #464646;
  -ms-transform: rotate(0.0deg);
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Rich_text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Label_33 {
  -ms-transform: rotate(0.0deg);
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Label_34 {
  -ms-transform: rotate(0.0deg);
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Rectangle_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #464646;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #464646;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #464646;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #464646;
  -ms-transform: rotate(0.0deg);
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Rich_text_23 {
  -ms-transform: rotate(0.0deg);
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Label_35 {
  -ms-transform: rotate(0.0deg);
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Label_36 {
  -ms-transform: rotate(0.0deg);
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Rectangle_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #464646;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #464646;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #464646;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #464646;
  -ms-transform: rotate(0.0deg);
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Rich_text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Panel_2 > .valign {
  vertical-align: top;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Label_37 {
  -ms-transform: rotate(0.0deg);
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Label_38 {
  -ms-transform: rotate(0.0deg);
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Rectangle_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #464646;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #464646;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #464646;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #464646;
  -ms-transform: rotate(0.0deg);
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Rich_text_25 {
  -ms-transform: rotate(0.0deg);
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Label_41 {
  -ms-transform: rotate(0.0deg);
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Label_42 {
  -ms-transform: rotate(0.0deg);
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Rectangle_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #464646;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #464646;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #464646;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #464646;
  -ms-transform: rotate(0.0deg);
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Rich_text_27 {
  -ms-transform: rotate(0.0deg);
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Label_43 {
  -ms-transform: rotate(0.0deg);
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Label_44 {
  -ms-transform: rotate(0.0deg);
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Rectangle_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #464646;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #464646;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #464646;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #464646;
  -ms-transform: rotate(0.0deg);
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Rich_text_28 {
  -ms-transform: rotate(0.0deg);
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Label_45 {
  -ms-transform: rotate(0.0deg);
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Label_46 {
  -ms-transform: rotate(0.0deg);
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Rectangle_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #464646;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #464646;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #464646;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #464646;
  -ms-transform: rotate(0.0deg);
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Rich_text_29 {
  -ms-transform: rotate(0.0deg);
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}