#s-2dd17364-5c07-4b39-881b-fa0d65d37315 #s-Label_1 {
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #84A82C;
  -ms-transform: rotate(0.0deg);
}
#s-2dd17364-5c07-4b39-881b-fa0d65d37315 #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-2dd17364-5c07-4b39-881b-fa0d65d37315 #s-Rich_text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-2dd17364-5c07-4b39-881b-fa0d65d37315 #s-Rich_text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-2dd17364-5c07-4b39-881b-fa0d65d37315 #s-Rich_text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-2dd17364-5c07-4b39-881b-fa0d65d37315 #s-Rich_text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-2dd17364-5c07-4b39-881b-fa0d65d37315 #s-Image_15 {
  -ms-transform: rotate(0.0deg);
}
#s-2dd17364-5c07-4b39-881b-fa0d65d37315 #s-Rich_text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-2dd17364-5c07-4b39-881b-fa0d65d37315 #s-Label_15 {
  -ms-transform: rotate(0.0deg);
}
#s-2dd17364-5c07-4b39-881b-fa0d65d37315 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-2dd17364-5c07-4b39-881b-fa0d65d37315 #s-Rich_text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-2dd17364-5c07-4b39-881b-fa0d65d37315 #s-Rich_text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-2dd17364-5c07-4b39-881b-fa0d65d37315 #s-Rich_text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-2dd17364-5c07-4b39-881b-fa0d65d37315 #s-Rich_text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-2dd17364-5c07-4b39-881b-fa0d65d37315 #s-Rich_text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-2dd17364-5c07-4b39-881b-fa0d65d37315 #s-Rich_text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-2dd17364-5c07-4b39-881b-fa0d65d37315 #s-Label_21 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #464646;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #464646;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #464646;
  -ms-transform: rotate(0.0deg);
}
#s-2dd17364-5c07-4b39-881b-fa0d65d37315 #s-Label_22 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #464646;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #464646;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #464646;
  -ms-transform: rotate(0.0deg);
}
#s-2dd17364-5c07-4b39-881b-fa0d65d37315 #s-Rectangle_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #464646;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #464646;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #464646;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #464646;
  -ms-transform: rotate(0.0deg);
}
#s-2dd17364-5c07-4b39-881b-fa0d65d37315 #s-Label_16 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #464646;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #464646;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #464646;
  -ms-transform: rotate(0.0deg);
}
#s-2dd17364-5c07-4b39-881b-fa0d65d37315 #s-Rich_text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-2dd17364-5c07-4b39-881b-fa0d65d37315 #s-Rectangle_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #464646;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #464646;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #464646;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #464646;
  -ms-transform: rotate(0.0deg);
}
#s-2dd17364-5c07-4b39-881b-fa0d65d37315 #s-Label_24 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #464646;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #464646;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #464646;
  -ms-transform: rotate(0.0deg);
}
#s-2dd17364-5c07-4b39-881b-fa0d65d37315 #s-Label_25 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #464646;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #464646;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #464646;
  -ms-transform: rotate(0.0deg);
}
#s-2dd17364-5c07-4b39-881b-fa0d65d37315 #s-Rich_text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-2dd17364-5c07-4b39-881b-fa0d65d37315 #s-Label_23 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #464646;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #464646;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #464646;
  -ms-transform: rotate(0.0deg);
}
#s-2dd17364-5c07-4b39-881b-fa0d65d37315 #s-Label_26 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #464646;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #464646;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #464646;
  -ms-transform: rotate(0.0deg);
}
#s-2dd17364-5c07-4b39-881b-fa0d65d37315 #s-Rectangle_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #464646;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #464646;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #464646;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #464646;
  -ms-transform: rotate(0.0deg);
}
#s-2dd17364-5c07-4b39-881b-fa0d65d37315 #s-Label_28 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #464646;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #464646;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #464646;
  -ms-transform: rotate(0.0deg);
}
#s-2dd17364-5c07-4b39-881b-fa0d65d37315 #s-Rich_text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-2dd17364-5c07-4b39-881b-fa0d65d37315 #s-Label_27 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #464646;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #464646;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #464646;
  -ms-transform: rotate(0.0deg);
}
#s-2dd17364-5c07-4b39-881b-fa0d65d37315 #s-Rich_text_22 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #98C601;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #98C601;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #98C601;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #98C601;
  -ms-transform: rotate(0.0deg);
}
#s-2dd17364-5c07-4b39-881b-fa0d65d37315 #s-Rich_text_23 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EB5439;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EB5439;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EB5439;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EB5439;
  -ms-transform: rotate(0.0deg);
}
#s-2dd17364-5c07-4b39-881b-fa0d65d37315 #s-Rich_text_24 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FAB418;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FAB418;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FAB418;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FAB418;
  -ms-transform: rotate(0.0deg);
}
#s-2dd17364-5c07-4b39-881b-fa0d65d37315 #s-Rich_text_25 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #4D8FCB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #4D8FCB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #4D8FCB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #4D8FCB;
  -ms-transform: rotate(0.0deg);
}
#s-2dd17364-5c07-4b39-881b-fa0d65d37315 #s-Label_29 {
  -ms-transform: rotate(0.0deg);
}
#s-2dd17364-5c07-4b39-881b-fa0d65d37315 #s-Label_30 {
  -ms-transform: rotate(0.0deg);
}
#s-2dd17364-5c07-4b39-881b-fa0d65d37315 #s-Rectangle_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #464646;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #464646;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #464646;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #464646;
  -ms-transform: rotate(0.0deg);
}
#s-2dd17364-5c07-4b39-881b-fa0d65d37315 #s-Rich_text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-2dd17364-5c07-4b39-881b-fa0d65d37315 #s-Panel_4 > .valign {
  vertical-align: top;
}
#s-2dd17364-5c07-4b39-881b-fa0d65d37315 #s-Label_31 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-2dd17364-5c07-4b39-881b-fa0d65d37315 #s-Rectangle_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #464646;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #464646;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #464646;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #464646;
  -ms-transform: rotate(0.0deg);
}
#s-2dd17364-5c07-4b39-881b-fa0d65d37315 #s-Rich_text_26 {
  -ms-transform: rotate(0.0deg);
}
#s-2dd17364-5c07-4b39-881b-fa0d65d37315 #s-Label_32 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-2dd17364-5c07-4b39-881b-fa0d65d37315 #s-Rectangle_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #464646;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #464646;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #464646;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #464646;
  -ms-transform: rotate(0.0deg);
}
#s-2dd17364-5c07-4b39-881b-fa0d65d37315 #s-Rich_text_27 {
  -ms-transform: rotate(0.0deg);
}
#s-2dd17364-5c07-4b39-881b-fa0d65d37315 #s-Label_33 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-2dd17364-5c07-4b39-881b-fa0d65d37315 #s-Rectangle_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #464646;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #464646;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #464646;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #464646;
  -ms-transform: rotate(0.0deg);
}
#s-2dd17364-5c07-4b39-881b-fa0d65d37315 #s-Rich_text_28 {
  -ms-transform: rotate(0.0deg);
}
#s-2dd17364-5c07-4b39-881b-fa0d65d37315 #s-Panel_5 > .valign {
  vertical-align: top;
}
#s-2dd17364-5c07-4b39-881b-fa0d65d37315 #s-Label_34 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-2dd17364-5c07-4b39-881b-fa0d65d37315 #s-Rectangle_7 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #464646;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #464646;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #464646;
  -ms-transform: rotate(0.0deg);
}
#s-2dd17364-5c07-4b39-881b-fa0d65d37315 #s-Rich_text_29 {
  -ms-transform: rotate(0.0deg);
}
#s-2dd17364-5c07-4b39-881b-fa0d65d37315 #s-Label_35 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-2dd17364-5c07-4b39-881b-fa0d65d37315 #s-Rectangle_8 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #464646;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #464646;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #464646;
  -ms-transform: rotate(0.0deg);
}
#s-2dd17364-5c07-4b39-881b-fa0d65d37315 #s-Rich_text_30 {
  -ms-transform: rotate(0.0deg);
}
#s-2dd17364-5c07-4b39-881b-fa0d65d37315 #s-Label_36 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-2dd17364-5c07-4b39-881b-fa0d65d37315 #s-Rectangle_9 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #464646;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #464646;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #464646;
  -ms-transform: rotate(0.0deg);
}
#s-2dd17364-5c07-4b39-881b-fa0d65d37315 #s-Rich_text_31 {
  -ms-transform: rotate(0.0deg);
}
#s-2dd17364-5c07-4b39-881b-fa0d65d37315 #s-Label_37 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-2dd17364-5c07-4b39-881b-fa0d65d37315 #s-Rectangle_10 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #464646;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #464646;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #464646;
  -ms-transform: rotate(0.0deg);
}
#s-2dd17364-5c07-4b39-881b-fa0d65d37315 #s-Rich_text_32 {
  -ms-transform: rotate(0.0deg);
}
#s-2dd17364-5c07-4b39-881b-fa0d65d37315 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}