#s-a0131635-5bdf-4983-b50b-8781316d28fb {
  background-color: transparent;
  background-image: none;
  min-width: 992px;
  min-height: 1499px;
}
#s-a0131635-5bdf-4983-b50b-8781316d28fb > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 992px;
  min-width: 992px;
  min-height: 1499px;
}
#s-a0131635-5bdf-4983-b50b-8781316d28fb #s-Label_1 {
  position: absolute;
  top: 106px;
  left: 28px;
  padding-left: 12px;
  width: 209px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #84A82C;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 700;
  line-height: 14pt;
}
#s-a0131635-5bdf-4983-b50b-8781316d28fb #s-Label_1 .valign {
  vertical-align: middle;
}
#s-a0131635-5bdf-4983-b50b-8781316d28fb #s-Label_2 {
  position: absolute;
  top: 105px;
  left: 162px;
  width: 534px;
  height: 23px;
  background-color: transparent;
  background-repeat: repeat-x;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/3b0a929c-76b2-4533-9fa2-58793ede8a85.PNG');
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#s-a0131635-5bdf-4983-b50b-8781316d28fb #s-Label_2 .valign {
  vertical-align: middle;
}
#s-a0131635-5bdf-4983-b50b-8781316d28fb #s-Rich_text_5 {
  position: absolute;
  top: 502px;
  left: 31px;
  width: 195px;
  height: 88px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 9pt;
  font-family: Arial;
}
#s-a0131635-5bdf-4983-b50b-8781316d28fb #s-Rich_text_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a0131635-5bdf-4983-b50b-8781316d28fb #s-Rich_text_5 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
}
#s-a0131635-5bdf-4983-b50b-8781316d28fb #s-Rich_text_5 span#rtr-s-Rich_text_5_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-a0131635-5bdf-4983-b50b-8781316d28fb #s-Image_2 {
  position: absolute;
  top: 293px;
  left: 20px;
  width: 203px;
  height: 204px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-a0131635-5bdf-4983-b50b-8781316d28fb #s-Rich_text_7 {
  position: absolute;
  top: 195px;
  left: 28px;
  width: 671px;
  height: 71px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 9pt;
  font-family: Arial;
}
#s-a0131635-5bdf-4983-b50b-8781316d28fb #s-Rich_text_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a0131635-5bdf-4983-b50b-8781316d28fb #s-Rich_text_7 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
}
#s-a0131635-5bdf-4983-b50b-8781316d28fb #s-Rich_text_7 span#rtr-s-Rich_text_7_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-a0131635-5bdf-4983-b50b-8781316d28fb #s-Input_1 {
  position: absolute;
  top: 308px;
  left: 241px;
  padding-left: 8px;
  width: 281px;
  height: 30px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #E5E5E5;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #E5E5E5;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F8F8F8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #E5E5E5;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-a0131635-5bdf-4983-b50b-8781316d28fb #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 9pt;
}
#s-a0131635-5bdf-4983-b50b-8781316d28fb #s-Input_1 input {
  color: #C0C0C0;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-a0131635-5bdf-4983-b50b-8781316d28fb #s-Input_2 {
  position: absolute;
  top: 355px;
  left: 241px;
  padding-left: 8px;
  width: 281px;
  height: 30px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #E5E5E5;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #E5E5E5;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F8F8F8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #E5E5E5;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-a0131635-5bdf-4983-b50b-8781316d28fb #s-Input_2 .valign {
  vertical-align: middle;
  line-height: 9pt;
}
#s-a0131635-5bdf-4983-b50b-8781316d28fb #s-Input_2 input {
  color: #C0C0C0;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-a0131635-5bdf-4983-b50b-8781316d28fb #s-Input_3 {
  position: absolute;
  top: 402px;
  left: 241px;
  padding-left: 8px;
  width: 281px;
  height: 30px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #E5E5E5;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #E5E5E5;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F8F8F8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #E5E5E5;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-a0131635-5bdf-4983-b50b-8781316d28fb #s-Input_3 .valign {
  vertical-align: middle;
  line-height: 9pt;
}
#s-a0131635-5bdf-4983-b50b-8781316d28fb #s-Input_3 input {
  color: #C0C0C0;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-a0131635-5bdf-4983-b50b-8781316d28fb #s-Input_4 {
  position: absolute;
  top: 450px;
  left: 241px;
  padding-top: 5px;
  padding-left: 8px;
  width: 448px;
  height: 207px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #E5E5E5;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #E5E5E5;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F8F8F8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #E5E5E5;
  box-shadow: none;
  cursor: text;
}
#s-a0131635-5bdf-4983-b50b-8781316d28fb #s-Input_4 textarea {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-a0131635-5bdf-4983-b50b-8781316d28fb #s-Button_2 {
  position: absolute;
  top: 677px;
  left: 241px;
  width: 104px;
  height: 32px;
  background-color: transparent;
  background-repeat: repeat-x;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/044d60e1-ca06-4f1e-b5e3-314a97a1fb2c.png');
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 700;
  line-height: 10pt;
}
#s-a0131635-5bdf-4983-b50b-8781316d28fb #s-Button_2 .valign {
  vertical-align: middle;
}
#s-a0131635-5bdf-4983-b50b-8781316d28fb #s-Image_3 {
  position: absolute;
  top: 600px;
  left: 28px;
  width: 118px;
  height: 42px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-a0131635-5bdf-4983-b50b-8781316d28fb #s-Rich_text_6 {
  position: absolute;
  top: 145px;
  left: 28px;
  width: 668px;
  height: 44px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 9pt;
  font-family: Arial;
}
#s-a0131635-5bdf-4983-b50b-8781316d28fb #s-Rich_text_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a0131635-5bdf-4983-b50b-8781316d28fb #s-Rich_text_6 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
}
#s-a0131635-5bdf-4983-b50b-8781316d28fb #s-Rich_text_6 span#rtr-s-Rich_text_6_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-a0131635-5bdf-4983-b50b-8781316d28fb #s-Label_39 {
  position: absolute;
  top: 27px;
  left: 692px;
  width: 62px;
  height: 21px;
  background-color: #3C3838;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #302D2D;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #302D2D;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #383636;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #302D2D;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 700;
  line-height: 9pt;
}
#s-a0131635-5bdf-4983-b50b-8781316d28fb #s-Label_39 .valign {
  vertical-align: middle;
}
#s-a0131635-5bdf-4983-b50b-8781316d28fb #s-Master_item_1 div.offset {
  position: relative;
  top: -109px;
  left: -152px;
}
#s-a0131635-5bdf-4983-b50b-8781316d28fb #s-Master_item_1 {
  position: absolute;
  top: 1166px;
  left: 0px;
  width: 992px;
  height: 333px;
  overflow: visible;
}
#s-a0131635-5bdf-4983-b50b-8781316d28fb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}