#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Rich_text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_4 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #98C601;
  -ms-transform: rotate(0.0deg);
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_8 {
  -ms-transform: rotate(0.0deg);
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_9 {
  -ms-transform: rotate(0.0deg);
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_10 {
  -ms-transform: rotate(0.0deg);
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_11 {
  -ms-transform: rotate(0.0deg);
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Rich_text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_12 {
  -ms-transform: rotate(0.0deg);
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_13 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #98C601;
  -ms-transform: rotate(0.0deg);
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_14 {
  -ms-transform: rotate(0.0deg);
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_15 {
  -ms-transform: rotate(0.0deg);
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_16 {
  -ms-transform: rotate(0.0deg);
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_17 {
  -ms-transform: rotate(0.0deg);
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_18 {
  -ms-transform: rotate(0.0deg);
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_19 {
  -ms-transform: rotate(0.0deg);
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_20 {
  -ms-transform: rotate(0.0deg);
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Rich_text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_21 {
  -ms-transform: rotate(0.0deg);
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_22 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #98C601;
  -ms-transform: rotate(0.0deg);
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_23 {
  -ms-transform: rotate(0.0deg);
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_24 {
  -ms-transform: rotate(0.0deg);
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_25 {
  -ms-transform: rotate(0.0deg);
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_26 {
  -ms-transform: rotate(0.0deg);
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_27 {
  -ms-transform: rotate(0.0deg);
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_28 {
  -ms-transform: rotate(0.0deg);
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_29 {
  -ms-transform: rotate(0.0deg);
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Button_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #728A27;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #728A27;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #728A27;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #728A27;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 19px;
  height: 20px;
  -ms-transform: rotate(0.0deg);
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #B9B9B9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #B9B9B9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #B9B9B9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #B9B9B9;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 20px;
  height: 20px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#EAEAEA);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Button_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #B9B9B9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #B9B9B9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #B9B9B9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #B9B9B9;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 20px;
  height: 20px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#EAEAEA);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea #s-Label_39 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #302D2D;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #302D2D;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #383636;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #302D2D;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 50px;
  height: 21px;
  -ms-transform: rotate(0.0deg);
}
#s-c95676cf-ac24-429b-82c5-9e3a0970deea > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}