<html>
  <body>
    <div class="ui-page">
         <div id="t-f39803f7-df02-4169-93eb-7547fb8c961a" class="template firer commentable" name="Template 1">
         <div id="alignmentBox">
           <link type="text/css" rel="stylesheet" href="./resources/templates/f39803f7-df02-4169-93eb-7547fb8c961a-1401018713476.css" />
           <!--[if IE]><link type="text/css" rel="stylesheet" href="./resources/templates/f39803f7-df02-4169-93eb-7547fb8c961a-1401018713476-ie.css" /><![endif]-->
           <!--[if lte IE 8]><link type="text/css" rel="stylesheet" href="./resources/templates/f39803f7-df02-4169-93eb-7547fb8c961a-1401018713476-ie8.css" /><![endif]-->
           <img id="t-Image_2" class="image firer ie-background commentable"   alt="image" src="./images/dda8ab8f-6dea-4903-9d64-352f9af147aa.png"/>
           <div id="t-Dynamic_Panel_1" class="dynamicpanel firer ie-background commentable">
             <div id="t-Panel_1" class="panel default firer ie-background commentable" >
                 <table class="layout" summary="">
                   <tr>
                     <td class="layout horizontal insertionpoint verticalalign" valign="middle" align="right"><div id="t-Label_1" class="label firer click mouseenter mouseleave ie-background commentable" ><div class="content"><div class="valign"><span>Home</span></div></div></div><div id="t-Input_2" class="text firer mouseenter mouseleave focusin focusout ie-background commentable" ><div class="content"><div class="valign"><input type="text"  value="Pages" maxlength="100" readonly="readonly" tabindex="-1" /></div>  </div></div><div id="t-Label_4" class="label firer click mouseenter mouseleave ie-background commentable" ><div class="content"><div class="valign"><span>Blog</span></div></div></div><div id="t-Label_6" class="label firer click mouseenter mouseleave ie-background commentable" ><div class="content"><div class="valign"><span>Contact</span></div></div></div></td> 
                   </tr>
                 </table>

             </div>
           </div>
           <div id="t-Rectangle_1" class="pie richtext firer commentable" >
             <div class="content">
               <div class="valign">
                 <span id="rtr-t-Rectangle_1_0"></span>
               </div>
             </div>
           </div>
           <img id="t-Image_3" class="image firer ie-background commentable"   alt="image" src="./images/81c5134c-f1ce-4bb8-8440-23a9fefeff24.png"/>
           <div id="t-Input_1" class="text firer ie-background commentable" ><div class="content"><div class="valign"><input type="text"  value="" maxlength="100"  tabindex="-1" /></div>  </div></div>
           <div id="t-Group_1" class="group firer ie-background commentable">
             <div id="t-Dynamic_Panel_2" class="pie dynamicpanel firer commentable">
               <div id="t-Panel_2" class="pie panel default firer commentable" >
                 <div class="layout">
                   <div id="t-Label_23" class="label firer click mouseenter mouseleave ie-background commentable" ><div class="content"><div class="valign"><span>Example Page</span></div></div></div>
                   <div id="t-Label_24" class="label firer mouseenter mouseleave ie-background commentable" ><div class="content"><div class="valign"><span>Request for a quote</span></div></div></div>
                   <div id="t-Label_25" class="label firer click mouseenter mouseleave ie-background commentable" ><div class="content"><div class="valign"><span>FAQ</span></div></div></div>
                   <div id="t-Label_26" class="label firer click mouseenter mouseleave ie-background commentable" ><div class="content"><div class="valign"><span>Other</span></div></div></div>

                 </div>
               </div>
             </div>
             <div id="t-Label_39" class="pie label firer commentable" ><div class="content"><div class="valign"><span>Pages</span></div></div></div>
           </div>

           </div>
           <div id="loadMark"></div>
         </div>  
    </div>
  </body>
</html>