#t-c6c716c7-1186-4ff9-8902-e9f54335788d {
  background-color: #FFFFFF;
  background-repeat: repeat-x;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/7bdd8393-6233-459e-8412-61d0104c1b1d.png');
  min-width: 971px;
  min-height: 1132px;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 971px;
  min-width: 971px;
  min-height: 1132px;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Image_1 {
  position: absolute;
  top: 19px;
  left: 3px;
  width: 115px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Dynamic_Panel_1 {
  position: absolute;
  top: 19px;
  left: 274px;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Panel_1 {
  width: 497px;
  height: 45px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Panel_1 .verticalalign {
  vertical-align: middle;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_1 {
  width: 85px;
  height: 25px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #2C3338;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  color: #E4E4E4;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 700;
  line-height: 9pt;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_1 .valign {
  vertical-align: middle;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Input_2 {
  width: 70px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #2C3338;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #4A4C4D;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Input_2 .valign {
  vertical-align: middle;
  line-height: 9pt;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Input_2 input {
  color: #E4E4E4;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 700;
  text-shadow: none;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_4 {
  width: 60px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #2C3338;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #4A4C4D;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  color: #E4E4E4;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 700;
  line-height: 9pt;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_4 .valign {
  vertical-align: middle;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_6 {
  width: 86px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #2C3338;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #4A4C4D;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  color: #E4E4E4;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 700;
  line-height: 9pt;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_6 .valign {
  vertical-align: middle;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Rich_text_1 {
  position: absolute;
  top: 29px;
  left: 781px;
  width: 132px;
  height: 7px;
  background-color: #3C3838;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #302D2D;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #302D2D;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #383636;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #302D2D;
  border-radius: 13px 13px 13px 13px;
  padding-top: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Arial;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Rich_text_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Rich_text_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Rich_text_1 span#rtr-t-Rich_text_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Image_2 {
  position: absolute;
  top: 36px;
  left: 789px;
  width: 15px;
  height: 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Input_1 {
  position: absolute;
  top: 34px;
  left: 807px;
  padding-left: 5px;
  width: 112px;
  height: 16px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Input_1 .valign {
  vertical-align: middle;
  line-height: 9pt;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Input_1 input {
  color: #E4E4E4;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_7 {
  position: absolute;
  top: 105px;
  left: 895px;
  width: 76px;
  height: 23px;
  background-color: transparent;
  background-repeat: repeat-x;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/3b0a929c-76b2-4533-9fa2-58793ede8a85.PNG');
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_7 .valign {
  vertical-align: middle;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_8 {
  position: absolute;
  top: 106px;
  left: 747px;
  padding-left: 12px;
  width: 127px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #84A82C;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 700;
  line-height: 11pt;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_8 .valign {
  vertical-align: middle;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Rich_text_2 {
  position: absolute;
  top: 139px;
  left: 747px;
  width: 224px;
  height: 80px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 16px;
  font-size: 9pt;
  font-family: Arial;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Rich_text_2 .valign {
  vertical-align: top;
  text-align: left;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Rich_text_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Rich_text_2 span#rtr-t-Rich_text_2_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_9 {
  position: absolute;
  top: 256px;
  left: 747px;
  padding-left: 12px;
  width: 82px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #84A82C;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 700;
  line-height: 11pt;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_9 .valign {
  vertical-align: middle;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_10 {
  position: absolute;
  top: 255px;
  left: 872px;
  width: 99px;
  height: 23px;
  background-color: transparent;
  background-repeat: repeat-x;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/3b0a929c-76b2-4533-9fa2-58793ede8a85.PNG');
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_10 .valign {
  vertical-align: middle;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Rich_text_3 {
  position: absolute;
  top: 289px;
  left: 747px;
  width: 224px;
  height: 117px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 15px;
  font-size: 9pt;
  font-family: Arial;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Rich_text_3 .valign {
  vertical-align: top;
  text-align: left;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Rich_text_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Rich_text_3 span#rtr-t-Rich_text_3_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_11 {
  position: absolute;
  top: 415px;
  left: 747px;
  padding-left: 12px;
  width: 127px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #84A82C;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 700;
  line-height: 11pt;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_11 .valign {
  vertical-align: middle;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_12 {
  position: absolute;
  top: 414px;
  left: 883px;
  width: 88px;
  height: 23px;
  background-color: transparent;
  background-repeat: repeat-x;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/3b0a929c-76b2-4533-9fa2-58793ede8a85.PNG');
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_12 .valign {
  vertical-align: middle;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Rich_text_4 {
  position: absolute;
  top: 450px;
  left: 748px;
  width: 223px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 16px;
  font-size: 9pt;
  font-family: Arial;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Rich_text_4 .valign {
  vertical-align: top;
  text-align: left;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Rich_text_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Rich_text_4 span#rtr-t-Rich_text_4_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Image_12 {
  position: absolute;
  top: 502px;
  left: 749px;
  width: 220px;
  height: 140px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Rich_text_10 {
  position: absolute;
  top: 647px;
  left: 750px;
  width: 210px;
  height: 24px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Arial;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Rich_text_10 .valign {
  vertical-align: top;
  text-align: left;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Rich_text_10 span {
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 700;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Rich_text_10 span#rtr-t-Rich_text_10_0 {
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Image_17 {
  position: absolute;
  top: 673px;
  left: 750px;
  width: 14px;
  height: 14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_13 {
  position: absolute;
  top: 674px;
  left: 776px;
  width: 32px;
  height: 14px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #84A82C;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #84A82C;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: 700;
  line-height: 8pt;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_13 .valign {
  vertical-align: middle;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_14 {
  position: absolute;
  top: 674px;
  left: 808px;
  width: 42px;
  height: 14px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #84A82C;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #84A82C;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: 700;
  line-height: 8pt;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_14 .valign {
  vertical-align: middle;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_15 {
  position: absolute;
  top: 674px;
  left: 851px;
  width: 42px;
  height: 14px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #84A82C;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: 700;
  line-height: 8pt;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_15 .valign {
  vertical-align: middle;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Image_18 {
  position: absolute;
  top: 671px;
  left: 900px;
  width: 19px;
  height: 19px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_16 {
  position: absolute;
  top: 673px;
  left: 918px;
  width: 32px;
  height: 15px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #84A82C;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 700;
  line-height: 9pt;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_16 .valign {
  vertical-align: middle;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Image_14 {
  position: absolute;
  top: 721px;
  left: 749px;
  width: 220px;
  height: 140px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Rich_text_12 {
  position: absolute;
  top: 866px;
  left: 750px;
  width: 210px;
  height: 24px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Arial;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Rich_text_12 .valign {
  vertical-align: top;
  text-align: left;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Rich_text_12 span {
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 700;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Rich_text_12 span#rtr-t-Rich_text_12_0 {
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Image_21 {
  position: absolute;
  top: 892px;
  left: 750px;
  width: 14px;
  height: 14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_17 {
  position: absolute;
  top: 893px;
  left: 776px;
  width: 32px;
  height: 14px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #84A82C;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #84A82C;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: 700;
  line-height: 8pt;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_17 .valign {
  vertical-align: middle;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_18 {
  position: absolute;
  top: 893px;
  left: 808px;
  width: 42px;
  height: 14px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #84A82C;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #84A82C;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: 700;
  line-height: 8pt;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_18 .valign {
  vertical-align: middle;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_19 {
  position: absolute;
  top: 893px;
  left: 851px;
  width: 42px;
  height: 14px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #84A82C;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: 700;
  line-height: 8pt;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_19 .valign {
  vertical-align: middle;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Image_22 {
  position: absolute;
  top: 890px;
  left: 900px;
  width: 19px;
  height: 19px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_20 {
  position: absolute;
  top: 892px;
  left: 918px;
  width: 32px;
  height: 15px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #84A82C;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 700;
  line-height: 9pt;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_20 .valign {
  vertical-align: middle;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_21 {
  position: absolute;
  top: 947px;
  left: 748px;
  padding-left: 12px;
  width: 139px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #84A82C;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 700;
  line-height: 11pt;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_21 .valign {
  vertical-align: middle;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Rich_text_5 {
  position: absolute;
  top: 980px;
  left: 748px;
  width: 221px;
  height: 152px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 9pt;
  font-family: Arial;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Rich_text_5 .valign {
  vertical-align: top;
  text-align: left;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Rich_text_5 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Rich_text_5 span#rtr-t-Rich_text_5_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Rich_text_5 span#rtr-t-Rich_text_5_1 {
  color: #84A82C;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Rich_text_5 span#rtr-t-Rich_text_5_2 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Rich_text_5 span#rtr-t-Rich_text_5_3 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Rich_text_5 span#rtr-t-Rich_text_5_4 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Rich_text_5 span#rtr-t-Rich_text_5_5 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Rich_text_5 span#rtr-t-Rich_text_5_6 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Rich_text_5 span#rtr-t-Rich_text_5_7 {
  color: #84A82C;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Rich_text_5 span#rtr-t-Rich_text_5_8 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Rich_text_5 span#rtr-t-Rich_text_5_9 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Rich_text_5 span#rtr-t-Rich_text_5_10 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Rich_text_5 span#rtr-t-Rich_text_5_11 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Rich_text_5 span#rtr-t-Rich_text_5_12 {
  color: #84A82C;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_22 {
  position: absolute;
  top: 945px;
  left: 883px;
  width: 88px;
  height: 23px;
  background-color: transparent;
  background-repeat: repeat-x;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/3b0a929c-76b2-4533-9fa2-58793ede8a85.PNG');
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_22 .valign {
  vertical-align: middle;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Group_1 {
  position: absolute;
  top: 26px;
  left: 550px;
  width: 164px;
  height: 178px;
  display: none;
  z-index: 100;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Dynamic_Panel_2 {
  position: absolute;
  top: 26px;
  left: 0px;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Panel_2 {
  width: 156px;
  height: 144px;
  background-color: #3C3838;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #302D2D;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #302D2D;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #383636;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #302D2D;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  box-shadow: none;
  overflow: hidden;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Panel_2 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Panel_2 .verticalalign {
  vertical-align: top;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_23 {
  position: absolute;
  top: 11px;
  left: 7px;
  width: 139px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #4F4F4F;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 700;
  line-height: 9pt;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_23 .valign {
  vertical-align: middle;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_24 {
  position: absolute;
  top: 41px;
  left: 7px;
  width: 139px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #4F4F4F;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 700;
  line-height: 9pt;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_24 .valign {
  vertical-align: middle;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_25 {
  position: absolute;
  top: 74px;
  left: 7px;
  width: 139px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #4F4F4F;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 700;
  line-height: 9pt;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_25 .valign {
  vertical-align: middle;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_26 {
  position: absolute;
  top: 111px;
  left: 7px;
  width: 139px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 700;
  line-height: 9pt;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_26 .valign {
  vertical-align: middle;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_39 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 62px;
  height: 24px;
  background-color: #3C3838;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #302D2D;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #302D2D;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #302D2D;
  border-radius: 4px 4px 0px 0px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 0px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 700;
  line-height: 9pt;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_39 .valign {
  vertical-align: middle;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}