#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Panel_1 > .valign {
  vertical-align: middle;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_1 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #2C3338;
  -ms-transform: rotate(0.0deg);
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_4 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #2C3338;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #4A4C4D;
  -ms-transform: rotate(0.0deg);
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_6 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #2C3338;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #4A4C4D;
  -ms-transform: rotate(0.0deg);
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Rich_text_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #302D2D;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #302D2D;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #383636;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #302D2D;
  border-radius: 13px 13px 13px 13px;
  padding-top: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  width: 132px;
  height: 7px;
  -ms-transform: rotate(0.0deg);
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_8 {
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #84A82C;
  -ms-transform: rotate(0.0deg);
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Rich_text_2 {
  -ms-transform: rotate(0.0deg);
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_9 {
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #84A82C;
  -ms-transform: rotate(0.0deg);
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_10 {
  -ms-transform: rotate(0.0deg);
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Rich_text_3 {
  -ms-transform: rotate(0.0deg);
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_11 {
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #84A82C;
  -ms-transform: rotate(0.0deg);
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_12 {
  -ms-transform: rotate(0.0deg);
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Rich_text_4 {
  -ms-transform: rotate(0.0deg);
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Rich_text_10 {
  -ms-transform: rotate(0.0deg);
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_13 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #84A82C;
  -ms-transform: rotate(0.0deg);
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_14 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #84A82C;
  -ms-transform: rotate(0.0deg);
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_15 {
  -ms-transform: rotate(0.0deg);
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_16 {
  -ms-transform: rotate(0.0deg);
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Image_14 {
  -ms-transform: rotate(0.0deg);
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Rich_text_12 {
  -ms-transform: rotate(0.0deg);
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Image_21 {
  -ms-transform: rotate(0.0deg);
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_17 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #84A82C;
  -ms-transform: rotate(0.0deg);
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_18 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #84A82C;
  -ms-transform: rotate(0.0deg);
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_19 {
  -ms-transform: rotate(0.0deg);
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Image_22 {
  -ms-transform: rotate(0.0deg);
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_20 {
  -ms-transform: rotate(0.0deg);
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_21 {
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #84A82C;
  -ms-transform: rotate(0.0deg);
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Rich_text_5 {
  -ms-transform: rotate(0.0deg);
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_22 {
  -ms-transform: rotate(0.0deg);
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Panel_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #302D2D;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #302D2D;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #383636;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #302D2D;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 156px;
  height: 144px;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_23 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #4F4F4F;
  -ms-transform: rotate(0.0deg);
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_24 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #4F4F4F;
  -ms-transform: rotate(0.0deg);
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_25 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #4F4F4F;
  -ms-transform: rotate(0.0deg);
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_26 {
  -ms-transform: rotate(0.0deg);
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_39 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #302D2D;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #302D2D;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #302D2D;
  border-radius: 4px 4px 0px 0px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 0px;
  padding-left: 2px;
  width: 62px;
  height: 24px;
  -ms-transform: rotate(0.0deg);
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}